/* width */
.container .row form{

    margin-top: 50px;
    margin-left: 30%;



}
.container{
 margin-top: 30px;
    margin-left: 50px;

}
.container strong{

    font-size: 30px;
    margin-left: 540px;
    text-align: center;
    margin-top: 50px;

}

